<!doctype html>

<html>
	<head>	
		<title>ODE mapa</title> 
		<meta charset="utf-8">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
 	</head>
	<body>
		<div class="filtrosDiv" id="filtros">
			<label class="tipoFiltro">INDICADORES</label><br>
			<div id="indicadores">
				<div id="indEconomia"></div>
				<div id="indCohesionSocial"></div>
				<div id="indMedioambiente"></div>
				<button class="botonAñadirIndicador" id="botonAñadirIndicador">Añadir indicador</button>
				<button class="botonEliminarIndicador" id="botonEliminarIndicador">Eliminar indicador</button>
				<button class="botonReiniciarIndicadores" id="botonReiniciarIndicadores">Reiniciar indicadores</button>
				<br>
			</div>
			<label class="tipoFiltro">TRÁFICO</label><br>
			<div id="trafico">
				<div class="elementoFiltro">
					<label><input type="checkbox" id="filtroTrafCamaras">Cámaras de tráfico</label><br>
				</div>
				<div class="elementoFiltro">
					<label><input type="checkbox" id="filtroTrafIncidencias">Incidencias</label>
					<input type="date" id="fechaIncidencia">
					<br>
				</div>
			</div>
			<label class="tipoFiltro">PRÓXIMOS EVENTOS</label><br>
			<div id="eventos">
				<label class="elementoEv"><input type="checkbox" id="filtroTodosEv">Todos</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvConciertos">Conciertos</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvTeatro">Teatro</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvDanza">Danza</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvConferencias">Conferencias</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvBertsolaritza">Bertsolaritza</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvFerias">Ferias</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvExposiciones">Exposiciones</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvProyecciones">Proyecciones audiovisuales</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvFormaciones">Formaciones</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvConcursos">Concursos</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvFestivales">Festivales</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvInfantiles">Actividades infantiles</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvFiestas">Fiestas</label>
				<label class="elementoEv"><input type="checkbox" id="filtroEvOtros">Otros</label>
				<br>
			</div>
			<label class="tipoFiltro">ENTIDADES</label>
			<div id="entidades">
				<label class="elementoEn"><input type="checkbox" id="filtroTodosEn">Todos</label>
				<label class="elementoEn"><input type="checkbox" id="filtroEnSanitarios">Centros sanitarios</label>
				<label class="elementoEn"><input type="checkbox" id="filtroEnReligiosas">Entidades religiosas</label>
				<label class="elementoEn"><input type="checkbox" id="filtroEnLegislativas">Entidades legislativas</label>
				<label class="elementoEn"><input type="checkbox" id="filtroEnJudiciales">Entidades judiciales</label>
				<label class="elementoEn"><input type="checkbox" id="filtroEnPartidos">Entidades de partidos políticos</label>
				<label class="elementoEn"><input type="checkbox" id="filtroEnFundaciones">Fundaciones</label>
			</div>
			<label class="tipoFiltro">METEOROLOGÍA</label>
			<div id="meteorologia">
				<div class="elementoMet">
					<label><input type="checkbox" id="filtroMetPred">Prediccion meteorológica</label>
					<input type="date" id="fechaMeteo">
				</div>
				<div class="elementoMet">
					<label><input type="checkbox" id="filtroMetPredUbi">Predicción meteorológica por ubicación</label>
					<input type="date" id="fechaMeteoUbi">
					<div class="autocomplete">
						<input type="text" id="txtUbicacion" placeholder="Ubicación">
					</div>
					<br>
				</div>
			</div>
			<div>
				<button class="reiniciarFiltros" id="reiniciarFiltros">REINICIAR FILTROS</button>
			</div>
			<button class="generarMapa" id="generarMapa">GENERAR MAPA</button>
			<button class="descargarMapa" id="descargarMapa">DESCARGAR MAPA</button>
		</div>

		<div class="popups" id="popups">
			<div class="popupAñadirIndicador" id="popupAñadirIndicador">
				<button class="X" id="xAñadirIndicador">X</button>
				<div id="indicadoresExtra">
				</div>
					<button class="botonSubmitIndicador" id="botonSubmitAñadirIndicador"> Añadir indicador</button>
			</div>

			<div class="popupEliminarIndicador" id="popupEliminarIndicador">
				<button class="X" id="xEliminarIndicador">X</button>
				<div id="indicadoresEliminar">
				</div>
					<button class="botonSubmitIndicador" id="botonSubmitEliminarIndicador"> Eliminar indicador</button>
			</div>
		</div>

		<div class="windows8" id="loadingDiv">
			<div class="wBall" id="wBall_1">
				<div class="wInnerBall"></div>
			</div>	
			<div class="wBall" id="wBall_2">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_3">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_4">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_5">
				<div class="wInnerBall"></div>
			</div>
		</div>

		<div class="mapDiv" id="mapa">
			<iframe id="mapaIframe" height="99%" width="99%"></iframe>
		</div>

		<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>
